<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> WiSE</a>
      </li>
      <li>
        <a href="#about"><span class="glyphicon glyphicon-info-sign"></span> What's WiSE?</a>
      </li>
      <li>
        <a href="#join"><span class="glyphicon glyphicon-flash"></span> Become a Member</a>
      </li>
      <li>
        <a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://missioncollege.edu"><span class="glyphicon glyphicon-star"></span> Mission College</a>
      </li>
    </ul>
  </div>
</nav>
