<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="img-logo">
      <img src="/WiSE-logo.png">
    </a>
    <h1>MC WOMEN in STEM (WiSE)</h1>
    <p>Empowering Female Engineers and Scientists of Mission College</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.google.com/search?q=internships+&ibp=htl;jobs#fpstate=tldetail&htidocid=QTg4rXDqJf1vIDF5AAAAAA%3D%3D&htivrt=jobs"><span class="glyphicon glyphicon-briefcase"></span> Intern Positions</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/jellysquider/WiSE"><span class="glyphicon glyphicon-download"></span> Contribute on Github</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To learn more about the club and stay on top of our announcements and events, head over to our <a href="https://orgsync.com/167398/chapter" class="alert-link">OrgSync page</a>.
  </div>
  <hr>
  <div id="about" class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this club works</h3>
      <ul>
        <li>This club was created in order to connect like-minded women majoring in STEM-related subjects so we could network together, support each other, and find new friends.</li>
        <li>A lot of us are researching how to land an internship, a job, or get real-life experience working on something you're interested in, thus it makes more sense to have a community with the same goals to share your knowledge and hear other experiences as well.</li>
        <li>We have a plan to organize events, targetting STEM interests in general, as well as one-subject oriented gatherings such as <em>MCAT Prep for Chemisty/Bio majors, Hackathons and Coding Interviews Prep for Computer Science/Engineering majors, etc.</em> </li>
        <li>We are always open to suggestions and new ideas related to our club's activities, so we would appreciate your feedback!</li>
      </ul>
    </div>
    <div id="join" class="col-md-6">
      <h3><span class="glyphicon glyphicon-thumbs-up"></span> Become a Member</h3>
      <ul>
        <li>There are no strict requirements in regards to who could become a member, but to get the most out of our club you have to:</li>
        <ul>
          <li>be interested / majoring in STEM-related subject(Math, Engineering, Computer Science, Biology, Chemistry, etc.);</li>
          <li>be a Mission College student (both full-time and part-time are accepted);</li>
          <li>be interested in attending our events and contribute by expressing your feedback and ideas in terms of what kind of events you would benefit from;</li>
          <li>plan to trasfer to 4-year university or get an internship/job or study here with an intent to get certificate or improve your current skills in particular areas.</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
    <div id="contact" class="row">
      <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-envelope"></span> Contact</h3>
      <p>
        Don't hesitate to contact us even if you just want to say <i>Hi</i>! <br />
        We are available at <a href="mailto:geccentrical@gmail.com?subject=WiSEwebsite">mcWomeninSTEM@gmail.com</a> and will be glad to hear from you!
      </p>
    </div>
  </div>
</div>


</body>
</html>
